#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

body {
    font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* cusotm css */
@layer components {
    /* @apply menu */
}



.logout {
    position: absolute;
    bottom: 0;
    width: 90%;
}


/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    max-width: 1100px;
    text-align: center;
    margin: auto;
}


.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}


/* Table status */
.bookStatus {
    position: relative;
    color: #fff;
}


.bookStatus.activeBook {
    background: #39ac31;
}
.bookStatus.deactiveBook {
    background: #db3503;
}

.book-item img{
    height: 200px;

}